        *{
            margin:0px;
            padding:0px;
            box-sizing: border-box;
        }
    
        body{
            background-color: #221F1F;
        }
        .navbar{
            background-color: rgba(0, 0, 0, 0.8); /* black with 80% opacity */
            display:flex;
            align-items: center;
            padding:15px 30px;
            position: fixed;
            top:0;
            width:100%;
            z-index: 1000;
        }
        .logo{
            margin:15px;
            font-size: 30px;
            color:gold;
            font-weight: bolder;
        }
            .nav-links{
                display:flex;
                flex:2;
                justify-content: center;
            }
        .nav-links a{
            font-size: 20px;
            font-weight: bold;
            margin:20px;
            text-decoration: none;
            color:gold;
        }
        .banner {
            margin-top: 80px; /* same as navbar height */
            text-align: center;
        }

        .banner img {
            max-width: 100%;
            height: auto;
        }
        .movie-section h2{

            color:gold;
            margin:20px;
            font-size: 2.5rem;

        }
       .movie-grid{
        display:flex;
        justify-content: space-evenly;
        margin:50px;
       }
       .movie-card{
          background-color: #1e1e1e;
        border-radius: 12px;
         width: 500px;
        display: flex;
        flex-direction: column;
        padding:10px;
        gap:10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        transition: transform 0.2s ease;
       }

       .movie-card button{
        background-color: gold;
        color:black;
        font-size : 1rem;
        font-weight: bold;
        
       }
       .movie-card h3{
         font-family: 'Cinzel', serif;
         text-align: center;
        font-size: 2rem;
        color:  gold;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
       }
       .movie-card p{
            color:white;
            margin-bottom: 20px;
            text-align: center;
            font-size: 1rem;
       }
       .movie-card img{
        width:100%;
        border-radius: 20px;
       }
       .movie-card:hover {
    transform: scale(1.05);
}
.footer{
    color:grey;
}
